*{
	margin: 0;
	padding: 0;
}
body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
a{
	text-decoration: none;
	color: #322f20;
	font-family: utm_cafeta;
}
ul{
	list-style: none;
	line-height: 1;
}
#wrapper{
	width: 100%;
}
#flag{
	float: left;
	height: 30px;
	padding-top: 10px;
	margin-left: 50px;
}
#flag span{
	display: block;
	float: left;
	padding-right: 10px;
}
#phone{
	float: right;
	margin-right: 50px;
}
div#phone span img{
	width: 20px;
	height: 20px;
	margin-top: 2px;
}
.clear{
	clear: both;
}
.white{
	color: #fff;
}
span.white{
	line-height: 30px;
	font-weight: bold;
}
#top-header{
	background-color: #000;
}
div.nav{
	width: 65%;
	margin: 0 auto;
}
div.nav ul{
	clear: both;
	list-style: none;
	padding: 0 9px 0 10px;
}
div.nav ul li{
	float: left;
	display: inline;
	line-height: 50px;
	padding: 0 20px 0 0;
	border-bottom: 5px solid green;
}
div.nav ul li:hover{
	background:url(imgs/nav_active.png) left top no-repeat;
	border-bottom: 5px solid #b79a65;
}
img.logo{
	margin-top: 20px;
}
a.white{
	text-align: center;
	font-weight: bold;
}
header{
	height: 450px;
	margin-bottom: 180px;
	background-image: url(imgs/header-bg.png);
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom: 5px solid #000;
}
input#search-top-text{
	width: 510px;
	height: 40px;
	background: url(imgs/nen_TS.png) repeat-x;
	padding-left: 10px;
	border: 1px solid #fff;
	border-radius: 5px;
	color: #484848;
}
input#search-top-submit{
	background: url(imgs/search.png) no-repeat right;
	width: 38px;
	height: 38px;
	margin-left: -45px;
	margin-top: 10px;
}
div#search-top{
	padding-top: 30px;
	text-align: center;
}
#bot-header{
	text-align: center;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}
img.border-rounded{
	border: 5px solid #F99;
	display: block;
	width: 200px;
	height: 200px;
	border-radius:50%;
	-webkit-border-radius:50%;
	margin-bottom: 10px;
}
div#bot-header a,div#bot-header a:visited{
	font-weight: bold;
	color: #000;
	float: left;
	margin: 30px 0 0 130px;
}
div#bot-header a:hover{
	transition: all 0.5s ease-in-out;
	color: #ebaa98;
}
div#bot-header a span{
	font-size: 125%;
}
/*div.seperate-black{
	width: 100%;
	height: 5px;
	background-color: #000;
}*/
div.seperate-green{
	width: 100%;
	height: 40px;
	background-color: #86b817;
	font-weight: bold;
	font-family: utm_cafeta;
	font-size: 25px;
	border-top: 5px solid #000;
	line-height: 40px;
}
div.seperate-green span a{
	margin-left:10px;
	color: #fff;
	font-family: utm_cafeta;
}
div#content{
	width: 90%;
	margin: 0 auto;
}
footer{
	border-top:  5px solid #86b817;
	background: url(imgs/footer-bg.jpg) repeat;
	color: #afa38a;
	clear: both;
}
div.container-footer{
	width: 90%;
	margin: 0 auto;
	padding-top: 20px;
}
div.footer-info{
	float: left;
	width: 30%;
	margin-left: 20px;
}
div.footer-info h4{
	border-bottom: 3px solid #fff;
	padding-bottom: 10px;
	color: #f9c68a;
}
h5{
	color: #f9c68a;
}
div.container-footer ul{
	margin-top: 5px;
	font-size: 13px;
}
div.container-footer ul li{
	list-style: none;
}
div.container-footer ul li a{
	color: #fff;
	text-decoration: none;
}
span.right{
	float: right;
}
div.footer-info p span a{
	color: #fff;
	font-size: 12px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #494542;
	padding: 5px 0;
	text-align: center;
	width: 85px;
	display: inline-block;
	margin-bottom: 5px;
}
div.footer-info p span a:hover{
	background-color: #fab27c;
}
div.footer-info p{
	margin-top: 5px;
}
p.tags{
	border-bottom: 1px dashed #f9c68a;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
input.mail-text{
	color: #fff;
	height: 26px;
	background-color:#494542; 
	border-radius: 5px;
	border: none;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 5px;
}
input.mail-submit{
	color: #fff;
	height: 30px;
	width: 100px;
	font-size: 17px;
	border:none;
	background-image: linear-gradient(to bottom,#afa38a,#4E4635);
	border-radius: 5px;
	margin-left: 10px;
}
div#last{
	background: url(imgs/footer-bottom-bg.jpg) repeat;
	height: 100px;
	width: 100%;
}
div.last-content{
	width: 90%;
	margin:0 auto;
}
div.socials p img{
	float: left;
	margin-right: 10px;
	width: 30px;
	height: 30px;
}
div.socials p{
	padding-top: 33px;
	margin-left: 20px;
}
div.copyright{
	color: #fff;
	width: 70%;
	float: left;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	margin: 0 auto;
}
div.back-to-top div{
	float: right;
	width: 30px;
	height: 30px;
	border-radius: 16px;
	background-color: #fff;
	line-height: 30px;
	text-align: center;
}
div.seperate-green span a img{
	width: 40px;
	height: 40px;
	float: left;
	margin-left: 5%;
}
div.news1{
	width: 100%;
	margin-top: 30px;
}
div#slide-show{
	width: 47%;
	height: 350px;
	float: left;
	margin-right: 30px;
}
div#slide-show img{
	float: left;
	width: 100%;
	height: 100%;
}
div.news-img-rentangle{
	float: left;
	width: 50%;
}
div.news-img-rentangle a img{
	padding: 0 5px 5px 0;
	width: 45%;
	height: 170px;
}
div.news2{
	margin-top: 20px;
}
div.news-rounder{
	text-align: center;
	padding-right: 65px;
	float: left;
	width: 19%;
	height: 400px;
}
div.news-rounder span{
	font-weight: bold;
	font-size: 18px;
}
div.news-rounder p{
	margin-top: 15px;
	color: #000;
	font-size: 14px;
}
div.news-rounder a:hover{
	transition: all 0.5s ease-in-out;
	color: #ebaa98;
}
div.left{
	width: 60%;
}
div.tittle{
	clear: both;
	margin-bottom: 10px;
}
div.tittle h4{
	border-bottom: solid 4px #86b817;
}
div.tittle h4 span{
	padding: 12px 12px 4px;
    background-color: #86b817;
    border-radius: 7px 7px 0 0;
    display: inline-block;
    text-shadow: -1px -1px 0 #596a13;
    color: #fdfaed;
    font-family: utm_cafeta;
    font-size: 24px;
}
div.block-content{
	border-bottom: 1px dashed #384c3f;
    margin-bottom: 20px;
    float: left;
}
div.block-content-left{
	width: 50%;
	float: left;
}
div.block-content-left div a img{
	width: 100%;
	height: 200px;
	border-radius: 8px;
}
div.block-content-left div p{
	padding: 10px 0;
}
div.block-content-right{
	width: 45%;
	float: right;
}
div.block-content-right ul li a img{
	width: 20%;
	height: 70px;
	float: left;
	padding-right: 10px;
	border-radius: 5px;
}
div.block-content-right ul li{
	line-height: 20px;
	margin-bottom: 15px;
}
div.content-bottom-left{
	width: 49%;
	float: left;
}
div.content-bottom-right{
	width: 48%;
	float: right;
}
div.right{
	width: 38%;
	float: right;
	margin-top: -55px;
}
div.item-info{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	border:5px solid #F99;
	margin-bottom: 5px;
}
div.item{
	float: left;
	width: 100px;
	height: 120px;
	text-align: center;
	margin-right: 50px;
	margin-bottom: 50px;
}
div.item span{
	font-size: 15px;
	font-weight: bold;
}