p{
	font-weight: bold;
	height: 7px;
	line-height: 5px;
	margin-bottom: 5px;
	font-size: 110%;
}
input[type=text]{
	padding: 2px 0 2px 2px;
	height: 20px;
	color: grey;
	border: 1px solid black;
	border-radius: 5px;
}
.warning{
	font-style: italic;
	font-weight: normal;
	font-size: 100%;
}